#header {
    .box {
        width: 100px;
    }

    ul {
        .s {
            font-size: 1rem;
            border: none;
            cursor: pointer;
            -webkit-appearance: none;
            outline: none;

            option {
                font-size: 1rem;
            }
        }

        li {
            .a {
                &::before {
                    position: absolute;
                    content: "";
                    height: 2px;
                    background-color: yellow;
                    width: 0;
                    transition: 0.3s;
                    bottom: -5px;
                    left: 15px;
                }

                &:hover {
                    &::before {
                        width: 80px;
                    }
                }
            }

            a {
                padding: 0 5px;
                text-decoration: none;
                color: black;
                font-size: 1rem;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    height: 2px;
                    background-color: yellow;
                    width: 0;
                    transition: 0.3s;
                    bottom: -5px;
                    left: 13px;
                }

                &:hover {
                    &::before {
                        width: 65px;
                    }
                }
            }
        }
    }
}

#footer {
    i {
        color: yellow;
        font-size: 1rem;
        padding-right: 10px;
    }

    .box10 {
        
        li {
            a {
                position: relative;
                z-index: 1;
                left: 0;
                transition: 0.3s;
                border-radius: 5px;

                &:hover {
                    color: gray;
                    left: 5px;
                    background-color: yellow;
                }
            }
        }
    }

    .box9 {
        width: 220px;
    }

    h5 {
        font-weight: 400;
        font-size: 1.2rem;
        padding: 15px 0;
        width: 170px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ul {
        list-style: none;

        li:first-child {
            color: crimson;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
        }

        li {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            padding: 5px 0;

            a {
                text-decoration: none;
                color: black;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

        }

    }
}

@media(min-width:0) and (max-width:567px) {
    #header {
        position: relative;

        .box {
            width: 100px;
        }

        .nav {
            margin: 10px;

            i {
                font-size: 20px;
            }
        }

        ul {
            position: absolute;
            flex-direction: column;
            top: 100%;
            z-index: 1;
            left:  -100%;
            width: 100%;
            height: 30vh;
            background-color: white;
            transition: 0.5s;

            &.activ {
                left: 0;
            }

            .s {
                font-size: 1rem;
                border: none;
                cursor: pointer;
                outline: none;
                -webkit-appearance: none;
                padding: 7px 10px;
                border-radius: 5px;
                position: absolute;
                left: 20px;
                bottom: 15px;
                border: 1px solid gainsboro;

                option {
                    font-size: 1rem;
                }
            }

            li {
                border-bottom: 1px solid gainsboro;
                width: 90%;

                .a {
                    padding: 15px 0;
                    display: inline-block;

                    &::before {
                        position: absolute;
                        content: "";
                        height: 2px;
                        background-color: yellow;
                        width: 0;
                        transition: 0.3s;
                        bottom: -5px;
                        left: 15px;
                    }

                    &:hover {
                        &::before {
                            width: 80px;
                        }
                    }
                }

                a {
                    padding: 15px 0;
                    display: inline-block;
                    text-decoration: none;
                    color: black;
                    font-size: 1rem;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    position: relative;

                    &::before {
                        position: absolute;
                        content: "";
                        height: 2px;
                        background-color: yellow;
                        width: 0;
                        transition: 0.3s;
                        bottom: -5px;
                        left: 13px;
                    }

                    &:hover {
                        &::before {
                            width: 65px;
                        }
                    }
                }
            }
        }
    }

}

@media(min-width:576px) {
    #header {
        .nav {
            display: none;
        }

        .box {
            width: 150px;
        }

        ul {
            .s {
                font-size: 1.2rem;


                option {
                    font-size: 1.2rem;
                }
            }

            li {
                a {
                    font-size: 1rem;
                    padding: 0 10px;

                }
            }
        }
    }

}

@media(min-width:768px) {
    #header {
        .nav {
            display: none;
        }

        .box {
            width: 220px;
        }

        ul {
            .s {
                font-size: 1.4rem;

                option {
                    font-size: 1.4rem;
                }
            }

            li {
                a {
                    font-size: 1.2rem;
                    padding: 0 20px;
                }
            }
        }
    }
}